<p>
  <b>README</b>
</p>

<p>
  This is a sample host app to demonstrate running Feather as a slice. It includes a few plugins installed by default:
  <ul>
    <li>feather-comments</li>
    <li>feather-feeds</li>
    <li>feather-importers</li>
    <li>feather-tagging</li>
    <li>feather-themes</li>
  </ul>
</p>

<p>
  The sqlite3 database file is included, so that this app should fire up and work straight away.
</p>

<p>
  The Feather blog admin username and password is "admin", and "password".
</p>

<p>
  It comes with an incredibly simple override theme by default, just to show how it works.
</p>

<p>
  The blog and the host app use different layouts, just to show that the layouts can be separated.
</p>

<p>
  You can use this as a base for building your own Feather powered apps. Any bugs/issues, please <%= link_to "let me know", "mailto:el@ejdraper.com" %>.
</p>