<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Feather Sample Slice Host</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
    <%#= message[:notice] %>
    <h1>Feather Sample Slice Host</h1>
    <h3>This is running within the host.</h3>
    Click <%= link_to "here", "/blog" %> for the blog. Click <%= link_to "here", "/blog/admin" %> for the blog admin.
    <%= catch_content :for_layout %>
  </body>
</html>